*{
	margin: 0px;
}

body{
	background-color: gainsboro;
}


@font-face {
		src: url(Fonts/Roobert/Roobert-Regular.otf);
		font-family: RoobertReg;
  	}

@font-face {
		src: url(Fonts/Roobert/Roobert-Light.otf);
		font-family: RoobertLight;
  	}

.tbar{
	background-color: black;
	padding-top: 10px;
	width: 100%;
	height: 70px;
		}


		.menu:visited { text-decoration: none; color:white; }


		.tbar header{
			float: left;
			width: 20%;
			height: 70px;
			margin-top: 0px;
			margin-left: 5%;
			text-align: left;
			font-family: helvetica;
			color: white;
			font-weight: bold;
			font-size: 60px;
			background-color: black;
		}

		#home{
			color: steelblue;
		}

		#im{
			color: white;
		}

		#im:hover{
			color: steelblue;
		}



		.tbar ul{
			float: left;
			margin-left: 1%;
			margin-top: 0px;
			color: white;
			font-weight: bold;
			width: 57%;
			height: 70px;
			list-style-type: none;
			margin: 1%;
			padding: 0;
		}



		.menu{
			float: left;
			margin-left: 1%;
			font-family: helvetica;
			font-size: 15px;
			margin-top: 20px;
			padding: 5px;
			text-decoration: none;
			background-color: black;
		}

		.menu:hover{
			color: steelblue;
		}

		#searchbar{
			float: left;
			background-color: black;
			font-size: 15px;
			color: white;
			font-weight: bold;
			margin-top: 20px;
			margin-left: 2%;
			padding-left: 5px;
			height: 25px;
			width: 20%;
			border: none;
			border-color: steelblue;
			border-bottom: steelblue solid;
		}

		#membership{
			float: right;
			margin-right: 5%;
			margin-top: 32px;
			width: 100px;
			height: 25px;
			border: white solid;
			background-color: black;
		}

			#membutton{
				padding-top: 4px;
				height: 21px;
				background-color: black;
				font-size: 15px;
				font-family: helvetica;
				font-weight: bold;
				text-align: center;
				color: white;
			}

			#membutton:hover{
				background-color:steelblue;
				cursor: pointer;
			}

#greet{
	height: 1500px;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 5%;
	background-color: black;
	}

	.featurebox header{
		color: white;
		font-size: 30px;
		line-height: 50px;
		margin-top: 1%;
		margin-left: 1%;
		margin-right: 2%;
		margin-bottom: 2%;
		float: left;
		border: none;
		border-bottom: white solid;
		}

		.featurebox p{
			color: white;
			margin-top: 1%;
			margin-left: 1%;
			margin-right: 2%;
			height: 38%;
			margin-bottom: 5%;
			float: left;
			font-size: 14px;
			font-family: RoobertLight;
			overflow: hidden;
		}


	.featureboxsmall header{
		color: white;
		font-size: 30px;
		margin-top: 1%;
		margin-left: 1%;
		float: left;
		border: none;
		border-bottom: white solid;
		}

		.featureboxsmallp{
			color: white;
			margin-top: 1%;
			margin-left: 1%;
			margin-bottom: 2%;
			float: left;
			font-size: 14px;
			font-family: RoobertLight;
			overflow: hidden;
			height: 19%;
		}

	.bigbox{
		float: left;
		height: 95%;
		width: 28%;
		margin-left: 1%;
		margin-top: 5%;
	}

	.smallbox{
		float: left;
		width: 92%;
		height: 35%;
		margin-left: 3%;
	}

	.today{
		margin-top: 1%;
		margin-left: 1%;
		float: left;
		height:30px;
		width: 100%;
	}

		.today p{
			border-radius: 5px;
			background-color: darkred;
			padding: 5px;
			text-align: center;
			font-weight: bold;
			font-family: arial;
			font-size: 12px;
			color: white;
			width: 15%;
		}

	.figure{
		margin-top: 1%;
		margin-left: 1%;
		float: left;
		height:30px;
		width: 100%;
	}

		.figure p{
			margin-top: 1%;
			border-radius: 5px;
			background-color: darkolivegreen;
			padding: 5px;
			text-align: center;
			font-weight: bold;
			font-family: arial;
			font-size: 12px;
			color: white;
			width: 25%;
		}

	.event{
		margin-top: 1%;
		margin-left: 1%;
		float: left;
		height:30px;
		width: 100%;
	}

		.event p{
			margin-top: 1%;
			border-radius: 5px;
			background-color: royalblue;
			padding: 5px;
			text-align: center;
			font-weight: bold;
			font-family: arial;
			font-size: 12px;
			color: white;
		}

	.readbutton{
		margin-left: 1%;
		float: left;
		height:30px;
		width: 100%;
		margin-top: 1%;
	}

		.readbutton a{
			margin-top: 15%;
			padding: 5px;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
			font-family: arial;
			font-size: 15px;
			color: #19171d;
			text-decoration: none;
			background-color: white;
			border: white solid;
		}

		.readbutton a:hover{
			border: white solid;
			background-color: black;
			color: white;
		}

	#featurette1{
		background-color: #19171d;
		margin-left: 5%;
		width: 90%;
		height: 450px;
		}

		.bigfeature{
			width: 70%;
			height: 100%;
			object-fit: cover;
			float: left;
			}


	#featurette2{
		float: left;
		background-color: #19171d;
		margin-top: -1%;
		margin-left: 5%;
		width: 44%;
		height: 550px;
	}

		#featurette2 img{
		width: 100%;
		height: 65%;
		object-fit: cover;
		float: left;
		padding-bottom: 10px;
		}

	#featurette3{
		float: left;
		background-color: #19171d;
		margin-top: -1%;
		margin-left: 2%;
		width: 44%;
		height: 550px;
	}

		#featurette3 img{
		width: 100%;
		height: 65%;
		object-fit: cover;
		float: left;
		padding-bottom: 10px;
		}

	#featurette4{
		float: left;
		background-color: #19171d;
		margin-top: 2%;
		margin-left: 5%;
		width: 90%;
		height: 450px;
	}

#join{
	top: 0;
	position: fixed;
	width: 100%;
	height: 650px;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 5;
	}

	#login{
		width: 50%;
		height: 70%;
		background-color: white;
		position: relative;
	}

		#cb0{
			color: black;
			position: absolute;
			top: 0;
			right: 1%;
			font-size: 30px;
			transform: rotate(45deg);
			cursor: pointer;	
		}

		#selectorf{
			position: absolute;
			height: 15%;
			width: 100%;
			background-color: whitesmoke;
		}


			.topbutton{
				padding-top: 3%;
				padding-bottom: 3.8%;
				float: left;
				font-size: 20px;
				font-family: helvetica;
				padding-left: 2.5%;
				padding-right: 2.5%;
			}

			#have{
				color: white;
				background-color: steelblue;
			}

			#donthave{
				color: black;
				background-color: whitesmoke;
			}


			.topbutton:hover{
				cursor: pointer;
			}

		.inputs1{
			position: absolute;
			top: 15%;
			padding-top: 5%;
			height: 75%;
			width: 100%;
			background-color: white;
			display: block;
		}

		#signin_input{
			display: block;
		}

		#signup_input{
			display: none;
		}



			.logput{
				padding: 10px;
				margin-top: 2%;
				margin-left: 15%;
				width: 70%;
				height: 7%;
				border-style: none;
				border-radius: 5px;
				background-color: lightgrey;
				display: block;
			}

			.regput{
				padding: 10px;
				margin-top: 1%;
				margin-left: 15%;
				width: 70%;
				height: 5%;
				border-style: none;
				border-radius: 5px;
				background-color: lightgrey;
				display: block;
			}

			#signin{
				float: right;
				margin-top: 2%;
				margin-right: 12%;
				text-align: center;
				padding: 10px;
				font-size: 12px;
				width: 15%;
				background-color: steelblue;
				border-color: slateblue;
				border-radius: 5px;
				text-decoration: none;
				font-family: helvetica;
				display: block;
			}

#breakt{

}

	#breakt header{
		padding-top: 3%;
		background-color:  #19171d;
		text-align: center;
		font-size: 80px;
		font-weight: bold;
		color: white;
	}

#mapbody{
	position: relative;
	width: 100%;
	height: 900px;
	background-color:  #19171d;
	padding-top: 2.5%;
	padding-bottom: 4%;
	}

		#mainmap{
			position: absolute;
			margin-right: 2.5%;
			margin-left: 2.5%;
			width: 95%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			z-index: 0;
		}

		.mappart{
			position: absolute;
			left: 0;
			margin-right: 2.5%;
			width: 100%;
			opacity: 0;
			z-index: 1;
		}

		#mapsource{
			position: absolute;
			left: 5px;
			top: 0;
			z-index: 2;
		}

		.areas{
			position: absolute;
			left: 0;
			margin-right: 2.5%;
			margin-left: 2.5%;
			width: 95%;
		}

		.regions:hover{
			cursor: pointer;
		}

			#weu:hover ~ #westeu{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#ceu:hover ~ #ceneu{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#balk:hover ~ #balkan{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#nrc:hover ~ #nord{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#eeu:hover ~ #eastu{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#asm:hover ~ #asia{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}				

			#cau:hover ~ #cauc{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}		

			#mde:hover ~ #mid{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

			#nra:hover ~ #noraf{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}	

			#seu:hover ~ #med{
				opacity: 1;
				filter: drop-shadow(0 0 0.8rem black);;
			}

						#seu1:hover ~ #med1{
							opacity: 1;
							filter: drop-shadow(0 0 0.8rem black);;
						}		

						#seu2:hover ~ #med2{
							opacity: 1;
							filter: drop-shadow(0 0 0.8rem black);;
						}							


		.regioninfo{
			position: absolute;
			top: 20%;
			left: 0;
			margin-left: 10%;
			height: 60%;
			width: 80%;
			background-color: gba(0, 0, 0, 0);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
			z-index: 2;
			justify-content: center;
			align-items: center;
			display: none;
		}


			.buttonmap{
				margin-top: 10%;
				width: 7%;
				height: 270px;
				background-color: black;
				margin-left: 0px;
				float: left;
				opacity: .1;
			}

					#bmleft img{
						margin-left: 7%;
					}

					#bmright img{
						margin-left: 10%;
					}

					#bmleft{
						float: left;
					}

					#bmright{
						float: right;
					}

					.buttonmap:hover{
						cursor: pointer;
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
						background-color: rgba(0, 0, 0, 0.8);
						opacity: 1;
					}

			.topinfo{
				float: left;
				height: 10%;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				position: relative;
			}

				.topinfo img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.close{
					color: white;
					position: absolute;
					top: 0;
					right: 1%;
					font-size: 30px;
					transform: rotate(45deg);
					cursor: pointer;
				}	

				.regiontitle{
					margin-top: 1.5%;
					font-size: 30px;
					font-weight: bold;
					color: white;
					text-align: center;
				}

			.upperinfo{
				float: left;
				height: 90%;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.8);
			}

				.upperinfoimg{
					margin-top: 1%;
					margin-left: 5%;
					height: 90%;
					width: 90%;
					background-color: white;
				}


#bottom{
	height: 300px;
	width: 100%;
	background-color: black;
	}

	#topfooter{
		float: left;
		width: 100%;
		height: 49%;
		background-color: black;
	}

		#centertop{
			width: 80%;
			height: 99.8%;
			background-color: black;
			margin-left: 10%;
			border-bottom: white solid;
		}

		#centertop img{
			float: left;
			height: 90px;
			width: 90px;
			object-fit: cover;
			margin-top: 30px;
			margin-left: 25%;
		}

		#centertop header{
			float: left;
			color: white;
			font-size: 35px;
			margin-top: 55px;
			margin-left: 2%;
			font-weight: bold;
			font-family: Helvetica;
		}

	#botfooter{
		float: left;
		width: 100%;
		height: 50%;
		background-color: black;
	}


		#centerbot1{
			width: 30%;
			height: 40%;
			background-color: black;
			margin-top: 2%;
			margin-left: 35%;
		}

		#centerbot1 a{
			text-decoration: none;
		}

		#firstico{
			margin-left: 20%;
		}

		.scico{
			text-decoration: none;
			width: 50px;
			height: 50px;
		 	margin-left: 10%;
		 	opacity: .8;
		}

		.scico:hover{
			opacity: 1;
			filter: drop-shadow(0 0 0.5rem black);;
		}



