*{
	margin: 0px;
}

body{
	background-color: black;
}

a{
	text-decoration: none;
}

@font-face {
		src: url(Fonts/Roobert/Roobert-Regular.otf);
		font-family: RoobertReg;
  	}

@font-face {
		src: url(Fonts/Roobert/Roobert-Light.otf);
		font-family: RoobertLight;
  	}


.tbar{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 1;
		}


		.menu:visited { text-decoration: none; color:white; }


		.tbar header{
			float: left;
			width: 20%;
			height: 70px;
			margin-top: 0px;
			margin-left: 5%;
			text-align: left;
			font-family: helvetica;
			color: white;
			font-weight: bold;
			font-size: 60px;
			background-color: black;
		}

		#home{
			color: steelblue;
		}

		#im{
			color: white;
		}

		#im:hover{
			color: steelblue;
		}



		.tbar ul{
			float: left;
			margin-left: 1%;
			margin-top: 0px;
			color: white;
			font-weight: bold;
			width: 57%;
			height: 70px;
			list-style-type: none;
			margin: 1%;
			padding: 0;
		}



		.menu{
			float: left;
			margin-left: .5%%;
			font-family: helvetica;
			font-size: 14px;
			margin-top: 20px;
			padding: 5px;
			text-decoration: none;
			background-color: black;
		}

		.menu:hover{
			color: steelblue;
		}

		#searchbar{
			float: left;
			background-color: black;
			font-size: 15px;
			color: white;
			font-weight: bold;
			margin-top: 20px;
			margin-left: 2%;
			padding-left: 5px;
			height: 25px;
			width: 17%;
			border: none;
			border-color: steelblue;
			border-bottom: steelblue solid;
		}

		#membership{
			float: right;
			margin-right: 5%;
			margin-top: 32px;
			width: 100px;
			height: 25px;
			border: white solid;
			background-color: black;
		}

			#membutton{
				padding-top: 4px;
				height: 21px;
				background-color: black;
				font-size: 15px;
				font-family: helvetica;
				font-weight: bold;
				text-align: center;
				color: white;
			}

			#membutton:hover{
				background-color:steelblue;
				cursor: pointer;
			}
			
#join{
	top: 0;
	position: fixed;
	width: 100%;
	height: 650px;
	background-color: rgba(0, 0, 0, .3);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	}

	#login{
		width: 50%;
		height: 70%;
		background-color: white;
		position: relative;
	}

		#cb0{
			color: black;
			position: absolute;
			top: 0;
			right: 1%;
			font-size: 30px;
			transform: rotate(45deg);
			cursor: pointer;	
		}

		#selectorf{
			position: absolute;
			height: 15%;
			width: 100%;
			background-color: whitesmoke;
		}


			.topbutton{
				padding-top: 3%;
				padding-bottom: 3.8%;
				float: left;
				font-size: 20px;
				font-family: helvetica;
				padding-left: 2.5%;
				padding-right: 2.5%;
			}

			#have{
				color: white;
				background-color: steelblue;
			}

			#donthave{
				color: black;
				background-color: whitesmoke;
			}


			.topbutton:hover{
				cursor: pointer;
			}

		.inputs1{
			position: absolute;
			top: 15%;
			padding-top: 5%;
			height: 75%;
			width: 100%;
			background-color: white;
			display: block;
		}

		#signin_input{
			display: block;
		}

		#signup_input{
			display: none;
		}



			.logput{
				padding: 10px;
				margin-top: 2%;
				margin-left: 15%;
				width: 70%;
				height: 7%;
				border-style: none;
				border-radius: 5px;
				background-color: lightgrey;
				display: block;
			}

			.regput{
				padding: 10px;
				margin-top: 1%;
				margin-left: 15%;
				width: 70%;
				height: 5%;
				border-style: none;
				border-radius: 5px;
				background-color: lightgrey;
				display: block;
			}

			#signin{
				float: right;
				margin-top: 2%;
				margin-right: 12%;
				text-align: center;
				padding: 10px;
				font-size: 12px;
				width: 15%;
				background-color: steelblue;
				border-color: slateblue;
				border-radius: 5px;
				text-decoration: none;
				font-family: helvetica;
				display: block;
			}
			
#content{
	position: relative;
	width: 100%;
}

	#cat_main{
		width: 100%;
		background-color: black;
	}

		#cat_main_aside{
			height: 650px;
			width: 25%;
			background-color:black;
			position: fixed;
			color: white;
			overflow: hidden;
			}

			#cat_main_aside a{
				text-decoration: none;
			}

			#browse_by{
				font-family: helvetica;
				font-weight: bold;
				font-size: 45px;
				margin-left: 7%;
				text-align: left;
				margin-top: 30px;
				margin-bottom: 40px;
			}

			.category_buttons{
				width: 80%;
				margin-left: 7%;
				margin-top: 20px;
				height:100px;
				padding-left: 10px;
				border-left: solid white 2px;
				object-fit: cover;
				transition: 100ms;
				opacity: .7;
			}

			.category_buttons:hover{
				border-width: 20px;
				opacity: 1;
				cursor: pointer;
				filter: drop-shadow(0 0 0.8rem black);;
			}


				.category_buttons img{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}


				.category_buttons h1{
					color: white;
					font-family: helvetica;
					letter-spacing: 5px;
					font-size: 50px;
					margin-top: 25px;
					margin-left: 20px;
					position: absolute;
					filter: drop-shadow(0 0 0.8rem black);;
				}

				#eras{
					border-color: yellow;
				}

				#locations{
					border-color: steelblue;
				}								

				#evets{
					border-color: white;
				}

				#themes{
					border-color: red;
				}

		#cat_main_center_1{
			margin-top: 100px;
			width: 75%;
			float: right;
			background-color: #19171d;
			transition: 200ms;
			}

			#cat_head{
				height: 640px;
				width: 100%;
				background-color: white;
				transition: 200ms;
				}

				#slider{
					overflow: hidden;
					height: 100%;
				}

				#slider figure{
					position: relative;
					height: 100%;
					width: 500%;
					margin: 0;
					left: 0;
					animation: 20s slider infinite;
				}

					@keyframes slider{
						0%{
							left: 0%;
						}
						20%{
							left: 0%;
						}
						25%{
							left: -100%;
						}
						45%{
							left: -100%;
						}
						50%{
							left: -200%;
						}
						70%{
							left: -200%;
						}
						75%{
							left: -300%;
						}
						95%{
							left: -300%;
						}	
						100%{
							left: -400%;
						}											
					}

					.img_slide{
						float: left;
						width: 20%;
						height: 100%;
						object-fit: cover;
					}			

				#head{
					height: 20%;
					width: 70%;
					position: absolute;
					top: 0;
				}

				#head h1{
					color: white;
					padding-top: 350px;
					padding-left: 30px;
					font-family: Roobert;
					font-size: 70px;
					font-weight: bold;
					text-decoration: underline;
					filter: drop-shadow(0 0 0.8rem black);;
				}

				#head p{
					color: white;
					padding-top: 20px;
					padding-left: 30px;
					font-family: Roobertlight;
					font-weight: lighter;
					font-size: 30px;
					width: 90%;
					filter: drop-shadow(0 0 0.8rem black);;
				}

			#cat_con_1{
				height: 650px;
				width: 99.5%;
				border-left: solid yellow 5px;
			}

			#cat_con_2{
				height: 650px;
				width: 99.5%;
				border-left: solid steelblue 5px;
			}

			#cat_con_3{
				height: 650px;
				width: 99.5%;
				border-left: solid white 5px;
			}

			#cat_con_4{
				height: 650px;
				width: 99.5%;
				border-left: solid red 5px;
			}

				.container_head{
					width: 100%;
					height: 120px;
				}

				.container_head h1{
					font-family: helvetica;
					font-size: 45px;
					padding-top: 30px;
					margin-left: 3%;
					font-weight: lighter;
				}

				#container_head_1{
					color: yellow;
				}
				#container_head_2{
					color: steelblue;
				}
				#container_head_3{
					color: white;
				}
				#container_head_4{
					color: red;
				}


				.cat_row{
					margin-top: 20px;
					height: 240px;
					width: 97%;
					margin-left: 3%;
				}

					.cat_box{
						width: 20%;
						height: 100%;
						float: left;
						margin-right: 5%;
					}

					.cat_box:hover{
						filter: drop-shadow(0 0 0.8rem black);;
						cursor: pointer;
					}

					.cat_box img{
						width: 100%;
						height: 200px;
						object-fit: cover;
					}

					.cat_box p{
						color: white;
						font-family: Roobertlight;
						font-size: 15px;
						padding-top: 5px;
						letter-spacing: 1px;
					}


#bottom{
	padding-left: 25%;
	height: 300px;
	width: 75%;
	background-color: black;
	z-index: 1;
	}

	#topfooter{
		float: left;
		width: 100%;
		height: 49%;
		background-color: black;
		}

		#centertop{
			width: 80%;
			height: 99%;
			background-color: black;
			border-bottom: white solid;
			margin-left: 10%;
		}

		#centertop img{
			float: left;
			height: 90px;
			width: 90px;
			object-fit: cover;
			margin-top: 30px;
			margin-left: 23%;
		}

		#centertop header{
			float: left;
			color: white;
			font-size: 35px;
			margin-top: 55px;
			margin-left: 2%;
			font-weight: bold;
			font-family: Helvetica;
		}

	#botfooter{
		float: left;
		width: 100%;
		height: 50%;
		background-color: black;
	}


		#centerbot1{
			width: 30%;
			height: 40%;
			background-color: black;
			margin-top: 2%;
			margin-left: 35%;
		}

		#centerbot1 a{
			text-decoration: none;
		}

		#firstico{
			margin-left: 20%;
		}

		.scico{
			text-decoration: none;
			width: 50px;
			height: 50px;
		 	margin-left: 10%;
		 	opacity: .8;
		}

		.scico:hover{
			opacity: 1;
			filter: drop-shadow(0 0 0.5rem black);;
		}

